/* Custom properties/variables  */
@font-face {
  font-family: myFirstFont;
  src: url(https://sharived.github.io/hosted-assets/Fonts/towards/Towards.ttf);
}
:root {
  --main-white: #ffffff;
  --off-white: #f4f4f4;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-green: #4caf50;
  --main-teal: #008081;
  --main-gold: #a88430;
  --main-juicebox: #f4b54c;
  font-family: myFirstFont, sans-serif;
  background: var(--off-white);
  color: black;
}
/* Test code */
/*
@media only screen and (min-width: 991px) {
  :root {
  background: green;
  }
}

@media only screen and (max-width: 991px) {
  :root {
  background: yellow;
  }
  @media (orientation: portrait) {
    :root {
      font-size: 30px;
     }
  }
}

@media only screen and (max-width: 767px) {
  :root {
background: teal;
  }
}

@media only screen and (max-width: 479px) {
  :root {
background: pink;
  }
}

@media only screen and (min-resolution: 2dppx) {
  :root {
    background: blue;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) 
        and (orientation: portrait){
  :root {
    background: orange;
  }
}
*/
@media only screen and (max-width: 991px) {
  @media (orientation: portrait) {
    :root {
      font-size: 30px;
    }
  }
}

.nav {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
#left-nav {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#left-nav li {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
#left-nav li:hover {
  background-color: #00f1f1;
}

/* Show the dropdown menu on hover */
.nav:hover #left-nav {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.nav:hover .dropbtn {
  background-color: black;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 75px;
  background: var(--main-white);
  top: 0;
  left: 0;
  z-index: 10;
}
.page {
  padding-top: 75px;
  padding-bottom: 50px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  header {
    height: 150px;
  }
  .page {
    padding-top: 150px;
  }
}

.menu-line {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
#ForGood-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.social-link {
  padding: 10px;
}
.social-logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.social-logo-inline {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

#right-nav {
  visibility: hidden;
  display: flex;
  top: 0;
  right: 0;
  position: fixed;
  flex-direction: row;
}

.page-title {
  color: black;
  font-size: 40px;
}
.page-subtitle {
  color: black;
  font-size: 30px;
}

#mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: black;
}

#intro {
  padding: 30px;
}
#intro a {
  color: black;
}
.button {
  background-color: var(--main-juicebox);
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}
.button a {
  color: black;
  text-decoration: none;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  height: auto;
  width: 100%;
}
#nomination {
  background: var(--main-juicebox);
  color: black;
  width: 850px;
  border-radius: 5px;
  padding-left: 20px;
  border-color: black;
}

#nomination-section {
  display: flex;
  flex-direction: row;
}

.project-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project {
  background: var(--main-teal);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  text-align: center;
  margin: 25px;
}

.project-image {
  width: calc(500px - 7.2rem);
  height: 300px;
  object-fit: cover;
}

.profiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-pic {
  height: calc(300px - 6.8rem);
  width: 300px;
  object-fit: cover;
}

#multi-sigs {
  text-align: center;
  color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  color: var(--main-teal);
  width: 300px;
  margin: 25px;
}
.linkedin-logo {
  align-self: flex-end;
}
